* {
    margin: 0;
    padding: 0;
    max-width: 1920px;
}

body {
    background-color: rgb(78, 39, 39);
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: large;
}

header {
    display: flex;
    font-family:'Times New Roman', Times, serif;
    justify-content: space-between;
    height: 80px;
    padding-top: 30px;
}

nav {
    padding-right: 430px;
    padding-top: 15px;
}

ul {
    list-style: none;
    display: flex;
}

li {
    padding: 25px
}

#content {
    display: flex;
    flex-direction: column;
}

.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 30px;
}

p {
    padding: 80px;
    flex-grow: 1;
}

.container {
    display: flex;
    flex-grow: 1;
}

.container > img {
    width: 100%;
  height: auto;
  object-fit: cover;
    
}

.home:hover {
    border: 3px grey double;
  }

.about:hover {
    border: 3px grey double;
}

.menu:hover {
    border: 3px grey double;
}  


/* .home:focus {
    
    border: 3px grey double;
}

.about:active {
    
    border: 3px grey double;
}

.menu:active {
    
    border: 3px grey double;
}  */

/* Style for Menu tab */
.menuContainer {
    display: flex;
    flex-direction: column;
    border: 3px white double;
    margin: 20px;
}

p {
    padding: 30px;
}

h1 {
    padding: 40px;
}